{% extends 'base.html.twig' %}

{% block title %}Změnit objednávku{% endblock %}

{% block body %}
    <h1>Změnit objednávku</h1>

    {{ include('objednani/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('objednani_index') }}">back to list</a>

    {{ include('objednani/_delete_form.html.twig') }}
{% endblock %}
