<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}Administrace e-shopu{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body style="background-color: seashell">

    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: pink">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('images/logo2simple.png') }}" width="40" height="40" alt="">
            </a>
            <a style="font-size: 20px; font-weight: bold">Vítejte, admine!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('product_index') }}">Produkty<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('category_index') }}">Kategorie<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('catalogue') }}">Katalog</a>
                    </li>

                </ul>
            </div>
        </nav>
    {% endblock %}

    <div class="container"><br>
        {% block body %}{% endblock %}
     </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
