{% extends 'publicbase.html.twig' %}

{% block title %}Vytvořit objednávku{% endblock %}

{% block body %}

    {{ include('objednavka/_form.html.twig', {'button_label': 'Odeslat objednávku'}) }}

    <a href="{{ path('objednavka_index') }}">back to list</a>
{% endblock %}
